<div class="container mt-4">
  <h3>Add Color</h3>
  <form (ngSubmit)="onSubmit()" #colorForm="ngForm" class="row g-3">
    <div class="col-md-6">
      <label>Color Name</label>
      <input type="text" class="form-control" [(ngModel)]="color.name" name="name" required>
    </div>
    <div class="col-md-3">
      <label>Hex Code</label>
      <input type="color" class="form-control form-control-color" [(ngModel)]="color.hexCode" name="hexCode">
    </div>
    <div class="col-md-3">
      <label>Price</label>
      <input type="number" class="form-control" [(ngModel)]="color.price" name="price">
    </div>
    <div class="col-12">
      <button class="btn btn-success" type="submit">Add Color</button>
    </div>
  </form>
</div>
